<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Employment agency example. ©GeorgProg.</p>
        <p class="mb-0">New user? <a href="/">Visit the homepage</a> or read our <a
                href="#">Support</a>.</p>
    </div>
</footer>

</body>
</html>